:root { 
  --color-fuente:white;
}
.barra-de-navegacion {
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.logo {
  height: 100px;
}

.menu {
  height: 100px;
}

.section1{
  border: solid 3px red;
  background-color: #529cf1;
  height: 300px;
  width: 100%;
  display: flex;
}
 h3, .terminos {
  color: var(--color-fuente);
}
h1 {
  color: var(--color-fuente);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}