<section class="section2 columna_central">
  <h2>¿Por qué pasarte a Premium?</h2>
  <article class="article_section2">
    <img
      src="./assets/images/benefit-1.png"
      class="section2__img"
      alt="descarga musica"
    />
    <p>
      Descarga musica.
      <span class="article__span"
        >Llevala siempre contigo</span
      >
    </p>
  </article>
  <article class="article_section2">
    <img
      src="./assets/images/benefit-2.png"
      class="section2__img"
      alt="sin anuncios"
    />
    <p>
      Sin anuncios.
      <span class="article__span">
        Disfruta de música sin interrupciones.</span
      >
    </p>
  </article>
  <article class="article_section2">
    <img
      src="./assets/images/benefit-3.png"
      class="section2__img"
      alt="escucha lo que quieras"
    />
    <p>
      Escucha lo que quieras.
      <span class="article__span"
        >Incluso en el móvil.</span
      >
    </p>
  </article>
  <article class="article_section2">
    <img
      src="./assets/images/benefit-4.png"
      class="section2__img"
      alt="siguiente"
    />
    <p>
      Salta todas las canciones que quieras.
      <span class="article__span"
        >Simplemente dale a siguiente.</span
      >
    </p>
  </article>
</section>
