.columna_central {
    margin-left: 15px;
    margin-right: 15px; 
}
.barra-de-navegacion {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.logo {
    height: 30px;
    padding: 10px;
}

.menu {
    height: 30px;
    padding: 10px;
}