.section1 {
    background-color: $color-azul;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start;

}

h3{
    color: $color-fuente;
    font-family: $font-family;

}
.terminos {
    font-size: smaller;
    color: $color-fuente;
    font-family: $font-family;

}

h1 {
    color: $color-fuente;
    font-size: 30px;
    font-weight: bold;
    font-family: $font-family;
   
}

h3,
h2 {
    font-weight: bold;
    font-family: $font-family;
}

.button {
    text-transform: uppercase;
    color: $color-fuente;
    font-weight: bold;
    letter-spacing: 1.5px;
    background-color: $color-verde;
    width: 80vw;
    height: 35px;
    border-radius: 20px;
    border: 1px solid $color-verde;
  
}